:root {
    --primary-color: #e50914; /*this is a css variable to style the entire element it is applied to.*/
}

* {
    box-sizing: border-box; /*border-box allows us to add padding to a div without disruption.*/
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    color: #fff
}

a {
    color: #fff;
    text-decoration: none; /*to remove the underline of the links*/
}

p {
    margin: 0.5rem 0 ;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    background: url("../img/background.jpg") no-repeat center center/cover;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000; /*inset is the shadow of the inside box/container*/
}


.showcase-top {
    position: relative;
    z-index: 2;
    height: 90px;
}

.showcase-top img {
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*this is used because the logo is not centered correctly.*/
}

.showcase-top a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);  
}

.showcase-content {
    position: relative;
    margin: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
}

.showcase-content h1 {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.1;
    margin: 0 0 2rem;
}

.showcase-content p {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.25;
    margin: 0 0 2rem;
}


/* Buttons */
.btn {
    display: inline-block;
    background: var(--primary-color); /*the element the css variable is applied to.*/
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1 rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-xl {
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
}

.btn-lg {
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}